@model pc1.Models.OperarBolsa

@{
    ViewData["Title"] = "Operar Bolsa";
    var listaOperaciones = ViewData["listaOperaciones"] as List<OperarBolsa>;
}

<h1>Operar Bolsa</h1>

<form asp-controller="OperarBolsa" asp-action="Invertir" method="post">
    <div class="form-group">
        <label asp-for="NombreApellido">Nombre:</label>
        <input asp-for="NombreApellido" class="form-control" required>
    </div>
    <div class="form-group">
        <label asp-for="CorreoElectronico">Email:</label>
        <input asp-for="CorreoElectronico" class="form-control" required>
    </div>
    <div class="form-group">
        <label asp-for="Fecha">Fecha de Operación:</label>
        <input asp-for="Fecha" type=date class="form-control" required>
    </div>
    <div class="form-group">
        <label for="instrumento">Instrumento:</label><br>
        <input type="checkbox" id="sp" name="instrumento" value="S&P"> S&P<br>
        <input type="checkbox" id="dowJones" name="instrumento" value="Down Jones"> Down Jones<br>
        <input type="checkbox" id="bonosUS" name="instrumento" value="Bonos US"> Bonos US<br>
    </div>
    <div class="form-group">
        <label asp-for="Monto">Monto a Abonar:</label>
        <input asp-for="Monto" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Invertir</button>

</form>

<table class="table">
    <thead>
        <tr>
            <th>Instrumento</th>
            <th>Fecha</th>
            <th>IGV</th>
            <th>Comisión</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var operacion in listaOperaciones)
        {
            <tr>
                <td>@operacion.Instrumento</td>
                <td>@operacion.Fecha</td>
                <td>@operacion.IGV</td>
                <td>@operacion.Comision</td>
            </tr>
        }
    </tbody>
</table>
